@font-face {
    font-family: TT travels;
    src: url(tt_travels/TT\ Travels\ Trial\ ExtraBold.otf);
}

@font-face {
    font-family: TT travels D;
    src: url(tt_travels/TT\ Travels\ Trial\ DemiBold.otf);
}

@font-face {
    font-family: TT Chocolates;
    src: url(tt_travels/TT\ Travels\ Trial\ Medium.otf);
}

@font-face {
    font-family: TT Chocolates l;
    src: url(tt_travels/TT\ Travels\ Trial\ Light.otf);
}

html, body{
    font-family: 'Fraunces', serif;
    font-size: 20px;
    height: 100%;
}

body {
    margin: 0;
    background-color: #C8A287;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,p,span {
    margin: 0;
    color: #666;
}

a { 
    color: currentColor;
} 

h1{
    font-family: 'Fraunces', serif;
    font-style: italic ;
    font-weight: 600;
    font-size: 100px;
    color: white;
}

h2{
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

h3{
    font-family: 'TT Travels', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

h4{
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: antiquewhite;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 20px;
}

.nav-container li a {
    text-decoration: none;
    color: #603913;
    transition: .5s;
}

.nav-container li a:hover {
    color: #a36633;
}

/*Estilizando o pricipal*/

.main{
    display: flex;
    flex-direction: row;
    padding-right: 50px ;
    justify-content: center;
    padding-top: 50px;
}

.main_produto {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: #FFFBF5;
    margin-left:  60px;
    margin-right: 60px;;
} 

.titulo_produto {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: #C8A287;
    text-align: center;
}

.descricao_produto {
    font-family: 'TT Chocolates l', serif;
    font-size: 20px;
    color: #4D3F28;
    text-align: center;
}

.preco_produto {
    background-color: #C8A287;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.preco {
    font-family: 'TT Travels D', serif;
}

/*Estilizando o Footer*/

.titulo {
    font-family: 'Fraunces', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.descricao {
    font-family: 'TT Chocolates';
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: #4D3F28;
}

footer{
    position:absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.main_footer {
    background-color: antiquewhite;
    display: inline-block ;
    flex-direction: column;
    justify-content: center;
    
    
}

.footer_titulo {
    color: #c8a287;
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 40px;
    padding-left: 10px;
    
}

.footer_conteudo{
    color: #4D3F28;
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 15px
}

.conteudo {
    padding-top: 10px;
    float: left;
    display: block;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.redes_sociais img {
    display: flex;
    bottom: 0;
    float: right;
    padding: 10px;
    padding-right: 30px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    margin-top: 40px;
}
