@font-face {
    font-family: TT travels;
    src: url(tt_travels/TT\ Travels\ Trial\ ExtraBold.otf);
}

@font-face {
    font-family: TT travels D;
    src: url(tt_travels/TT\ Travels\ Trial\ DemiBold.otf);
}

@font-face {
    font-family: TT Chocolates;
    src: url(tt_travels/TT\ Travels\ Trial\ Bold.otf);
}

@font-face {
    font-family: TT Chocolates l;
    src: url(tt_travels/TT\ Travels\ Trial\ Light.otf);
}

html, body{
    font-family: 'Fraunces', serif;
    font-size: 20px;
    height: 100%;
}

body {
    margin: 0;
    background-color: #CFB4AC;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,p,span {
    margin: 0;
    color: #666;
}

a { 
    color: currentColor;
} 

h1{
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 80px;
    color: white;
    text-align: center;
}

h2{
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

h3{
    font-family: 'TT Travels', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

h4{
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: antiquewhite;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 20px;
}

.nav-container li a {
    text-decoration: none;
    color: #603913;
    transition: .5s;
}

.nav-container li a:hover {
    color: #a36633;
}

/*Estilizando o pricipal*/

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.wifi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    padding-bottom: 15em;
    
}

.img {
    height: 35em;
    width: auto;
    
    border-radius: 5px;
}

.imagem {
    padding-bottom: 150px;
    padding-top: 30px;
}

/*Estilizando o Footer*/

.titulo {
    font-family: 'Fraunces', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.descricao {
    font-family: 'TT Chocolates';
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: #4D3F28;
}

footer{
    position:absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.main_footer {
    background-color: antiquewhite;
    display: inline-block ;
    flex-direction: column;
    justify-content: center;
    
    
}

.footer_titulo {
    color: #c8a287;
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 40px;
    padding-left: 10px;
    
}

.footer_conteudo{
    color: #4D3F28;
    font-family: 'TT Chocolates', serif;
    font-weight: 400;
    font-size: 15px
}

.conteudo {
    padding-top: 10px;
    float: left;
    display: block;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.redes_sociais img {
    display: flex;
    bottom: 0;
    float: right;
    padding: 10px;
    padding-right: 30px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    margin-top: 40px;
}

/*ESTILIZAÇÃO DOS BOTÕES*/

#botoes {
    position: relative;
    margin-top: 2%;

}

button a {
    text-decoration: none;
}

:root {
    --cor-primaria-success: rgb(255, 255, 255);
    --cor-hover-success: rgb(200,178,184);
    --cor-secundaria-success: rgb(200,162,135);
    
    --cor-primaria-info:rgb(255,255,255);
    --cor-hover-info: rgb(200,162,135);
    --cor-secundaria-info: rgb(200,162,135);

    --cor-primaria-danger: rgb(200, 75, 75);
    --cor-hover-danger: rgb(158, 116, 116);
    --cor-secundaria-danger: rgb(58, 22, 22);
}

.btn {
    border: none;
    padding: 14px 45px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 80px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 2px;
    font-size: 100%;
    font-family: 'TT Travels';
    
    
}

/*SUCCESS*/
.btn-success {
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success)
}

.btn-success:hover {
    background-color: var(--cor-hover-success);
    color: var(--cor-primaria-success);
}

.btn-success:active {
    color:var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}

/*INFO*/
.btn-info {
    background-color: var(--cor-primaria-info);
    outline: none;
    color: var(--cor-secundaria-info)
}

.btn-info:hover {
    background-color: var(--cor-hover-info);
    color: var(--cor-primaria-info);
}

.btn-info:active {
    color:var(--cor-primaria-info);
    background-color: var(--cor-secundaria-info);
}

/*DANGER*/
.btn-danger {
    background-color: var(--cor-primaria-danger);
    outline: none;
    color: var(--cor-secundaria-danger)
}

.btn-succdangeress:hover {
    background-color: var(--cor-hover-danger);
}

.btn-danger:active {
    color:var(--cor-primaria-danger);
    background-color: var(--cor-secundaria-danger);
}

/*FOOTER*/
